@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=STIX+Two+Math:regular);
:root {
  --primary-color: #Ff6600;
  --secondary-color: #9900CC;
  --feature-1: #091e61;
  --feature-2: #0554f2;
  --feature-3: #044bd9;
}

body {
  min-width: 300px !important;
}

.success {
  padding: 1em 2em;
  border-radius: 10px;
  background-color: #28a745;
  color: white !important;
  font-weight: bold;
}

#servicios .header-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#servicios .header-servicios .globo {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#servicios .header-servicios .globo img {
  -o-object-fit: contain;
     object-fit: contain;
}

#servicios .header-servicios .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 6rem;
}

#servicios .header-servicios .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#servicios .header-servicios .social ul li {
  margin: 0.5rem;
  list-style: none;
}

#servicios .servicios-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

#servicios .servicios-elements .service-list {
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

#servicios .servicios-elements .service-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}

#servicios .servicios-elements .service-list ul li {
  margin: auto 0;
  list-style: none;
  color: #9900CC;
}

#servicios .servicios-elements .vr {
  width: 0.2rem;
  color: #Ff6600;
  opacity: 1;
}

#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  width: 100%;
  background-color: #Ff6600;
}

#portfolio .header-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

#portfolio .header-portfolio h1 {
  font-size: 10rem;
  font-family: 'museotitle' !important;
  color: white;
}

#portfolio .header-portfolio ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio .header-portfolio ul li {
  list-style: none;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: #9900CC;
}

#portfolio .header-portfolio ul li img {
  -o-object-fit: contain;
     object-fit: contain;
}

#portfolio .header-portfolio ul .vr {
  width: 0.1rem;
  color: #9900CC;
  opacity: 1;
  margin: 0 1rem;
}

#CV {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#CV .header-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
}

#CV .header-cv img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
}

#CV .content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

#CV .content-list .listaGrande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#CV .content-list .listaGrande .vr {
  color: #Ff6600;
  width: 0.15rem;
  opacity: 1;
}

#CV .content-list .listaGrande ul .orange {
  color: #Ff6600;
}

#CV .content-list .listaGrande ul li {
  list-style: none;
  font-size: 1.1rem;
  margin: 0.5rem auto;
  padding: 0;
  color: #313131;
}

#CV .content-list .actualidad-y-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

#CV .content-list .actualidad-y-cv img {
  width: 100px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 50%;
}

#CV .content-list .actualidad-y-cv .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#CV .content-list .actualidad-y-cv .content .item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#CV .content-list .actualidad-y-cv .content .item1 .vr {
  color: #Ff6600;
  width: 0.15rem;
  opacity: 1;
}

#CV .content-list .actualidad-y-cv .content .item1 .actualidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#CV .content-list .actualidad-y-cv .content .item1 .actualidad ul .orange {
  color: #Ff6600;
}

#CV .content-list .actualidad-y-cv .content .item1 .actualidad ul li {
  list-style: none;
}

.fail {
  padding: 1em 2em;
  border-radius: 10px;
  background-color: red;
  color: white !important;
  font-weight: bold;
}

#header-proyeccion {
  font-size: 3rem !important;
}

#servicios {
  background-color: #F4F4F4;
}

#servicios .header-servicios {
  min-height: 3rem;
}

@media screen and (max-width: 1100px) {
  .resize-email {
    font-size: 1.3rem !important;
  }
}

@media screen and (max-width: 350px) {
  #header-proyeccion {
    font-size: 2rem !important;
  }
  #header-contact .display-1 {
    font-size: 3rem;
  }
}

.quotes {
  font-family: 'STIX Two Math', serif !important;
  font-size: 12rem;
}

.container-fluid {
  padding: 0 0 !important;
}

.bg-banner-1 {
  background-image: url(WEB_EF/BANNERS/PC/ESPAÑOL/1N.png);
  background-size: cover;
}

.nav-mobile {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  width: 100% !important;
}

.nav-mobile .idiomas {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

.nav-mobile .idiomas a {
  color: white !important;
}

.nav-mobile .idiomas p {
  color: white !important;
  margin: 0;
  padding: 0;
}

.text-quotes {
  min-width: 23rem;
}

.text-quotes p {
  font-size: 4rem !important;
}

.text-quotes p .big-text {
  font-size: 7rem !important;
}

@media screen and (max-width: 1300px) {
  .text-quotes p {
    font-size: 3rem !important;
  }
  .text-quotes p .big-text {
    font-size: 5rem !important;
  }
}

.color-1 {
  background-color: var(--primary-color) !important;
}

.vr-custom {
  max-width: 3rem !important;
}

.color-2 {
  background-color: var(--secondary-color) !important;
}

.tc-1 {
  color: var(--primary-color);
}

.tc-2 {
  color: var(--secondary-color);
}

.feature-color-1 {
  background-color: var(--feature-1);
}

.feature-color-2 {
  background-color: var(--feature-2);
}

.feature-color-3 {
  background-color: var(--feature-3);
}

section {
  min-height: 50vh;
}

* {
  margin: 0;
  padding: 0;
}

.rounded {
  border-radius: 15px !important;
}

.cv-flotante {
  position: absolute;
  right: 10%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

@font-face {
  font-family: 'museo';
  src: url(font/Fonts/MuseoSans_500.otf);
}

@font-face {
  font-family: 'museotitle';
  src: url(font/Fonts/Museo300-Regular.otf);
}

.text-title {
  font-family: 'museotitle' !important;
}

.text-banner {
  position: absolute;
  left: 15%;
  height: 100%;
  top: 30%;
}

.font-banner {
  font-size: 7rem;
  line-height: 5rem;
}

.font-banner-2 {
  font-size: 7rem;
  line-height: 5rem;
}

@media screen and (max-width: 1750px) {
  .font-banner-2 {
    font-size: 6rem;
    line-height: 5rem;
  }
}

@media screen and (max-width: 1500px) {
  .font-banner-2 {
    font-size: 5rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 1280px) {
  .font-banner-2 {
    font-size: 4rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .font-banner-2 {
    font-size: 3rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 1180px) {
  .font-banner {
    font-size: 4rem;
    line-height: 3rem;
  }
}

.text-banner-2 {
  position: absolute;
  left: 0%;
  height: 100%;
  top: 30%;
}

.icon-banner-pos {
  position: absolute;
  right: 0;
  top: 50%;
}

.card {
  width: 18rem !important;
  height: 18rem !important;
  border-radius: 0 !important;
}

.card .card-body img {
  width: 100% !important;
  height: auto !important;
}

.card .card-body .card-text .text-title {
  font-size: 2.5rem !important;
}

@media screen and (max-width: 750px) {
  .card {
    min-width: 100% !important;
    min-height: 18rem !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
  .card .card-body .display-3 {
    font-size: 7rem;
  }
  .card .card-body .card-text .text-title {
    font-size: 3.5rem !important;
    line-height: 2rem !important;
  }
}

.text-museo {
  font-family: 'museo' !important;
}

.frase {
  min-width: 40rem;
}

.navlist ul li a {
  font-weight: 600;
  font-size: large;
  color: #F4F4F4 !important;
}

.navlist ul li a:hover {
  color: #9900CC !important;
}
/*# sourceMappingURL=styles.css.map */