@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=STIX+Two+Math:regular);
:root {
  --primary-color: #Ff6600;
  --secondary-color: #9900CC;
  --feature-1: #091e61;
  --feature-2: #0554f2;
  --feature-3: #044bd9;
}

body {
  min-width: 300px !important;
}

.success {
  padding: 1em 2em;
  border-radius: 10px;
  background-color: #28a745;
  color: white !important;
  font-weight: bold;
}

#servicios .header-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#servicios .header-servicios .globo {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#servicios .header-servicios .globo img {
  -o-object-fit: contain;
     object-fit: contain;
}

#servicios .header-servicios .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 6rem;
}

#servicios .header-servicios .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#servicios .header-servicios .social ul li {
  margin: 0.5rem;
  list-style: none;
}

#servicios .servicios-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

#servicios .servicios-elements .service-list {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

#servicios .servicios-elements .service-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}

#servicios .servicios-elements .service-list ul li {
  margin: auto 0;
  list-style: none;
  color: #9900CC;
}

#servicios .servicios-elements .vr {
  width: 3px;
  color: #Ff6600;
  opacity: 1;
}

#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #Ff6600;
}

#portfolio .header-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

#portfolio .header-portfolio h1 {
  font-size: 10rem;
  font-family: 'DINN-regular' !important;
  color: white;
}

#portfolio .header-portfolio ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio .header-portfolio ul li {
  list-style: none;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: #9900CC;
}

#portfolio .header-portfolio ul li img {
  -o-object-fit: contain;
     object-fit: contain;
}

#portfolio .header-portfolio ul .vr {
  width: 0.1rem;
  color: #9900CC;
  opacity: 1;
  margin: 0 1rem;
}

#portfolio .lista-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#portfolio .lista-portfolio .accordion {
  width: 99vw;
}

#portfolio .lista-portfolio .accordion .accordion-item {
  width: 100%;
  padding: 0;
  margin: 0;
}

#portfolio .lista-portfolio .accordion .accordion-item .accordion-collapse .accordion-body {
  margin: 0;
  padding: 0;
}

#portfolio .lista-portfolio .accordion .accordion-item .accordion-collapse .accordion-body .carousel {
  margin: 0;
  padding: 0;
}

#portfolio .lista-portfolio .accordion .accordion-item .accordion-collapse .accordion-body .carousel .carousel-inner .carousel-item img {
  width: 100%;
}

#CV {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#CV .header-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
}

#CV .header-cv .mobile-cv-text {
  display: none;
  background-color: #Ff6600;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#CV .header-cv .mobile-cv-text li {
  list-style: none;
}

#CV .header-cv img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
}

#CV .content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

#CV .content-list .listaGrande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#CV .content-list .listaGrande .vr {
  color: #Ff6600;
  width: 0.15rem;
  opacity: 1;
}

#CV .content-list .listaGrande ul .orange {
  color: #Ff6600;
}

#CV .content-list .listaGrande ul li {
  list-style: none;
  font-size: 1.1rem;
  margin: 0.5rem auto;
  padding: 0;
  color: #313131;
}

#CV .content-list .actualidad-y-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

#CV .content-list .actualidad-y-cv img {
  width: 100px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 50%;
}

#CV .content-list .actualidad-y-cv .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#CV .content-list .actualidad-y-cv .content .item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#CV .content-list .actualidad-y-cv .content .item1:nth-child(2) {
  margin-top: 2rem;
}

#CV .content-list .actualidad-y-cv .content .item1 .vr {
  color: #Ff6600;
  width: 0.15rem;
  opacity: 1;
}

#CV .content-list .actualidad-y-cv .content .item1 .cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#CV .content-list .actualidad-y-cv .content .item1 .cv ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#CV .content-list .actualidad-y-cv .content .item1 .cv ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9900CC;
  font-weight: bold;
  height: 90%;
}

#CV .content-list .actualidad-y-cv .content .item1 .cv ul li:nth-child(1) p {
  color: #Ff6600;
}

#CV .content-list .actualidad-y-cv .content .item1 .cv ul li * {
  margin: 0;
  padding: 0;
}

#CV .content-list .actualidad-y-cv .content .item1 .cv ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#CV .content-list .actualidad-y-cv .content .item1 .cv ul li ul .orange {
  color: #Ff6600;
}

#CV .content-list .actualidad-y-cv .content .item1 .cv ul li ul li img {
  width: 20px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  color: #9900CC;
}

#CV .content-list .actualidad-y-cv .content .item1 .actualidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#CV .content-list .actualidad-y-cv .content .item1 .actualidad ul .orange {
  color: #Ff6600;
}

#CV .content-list .actualidad-y-cv .content .item1 .actualidad ul li {
  list-style: none;
}

#CV .content-list .actualidad-y-cv .content .item2 {
  margin-top: 1.5rem;
}

#clientes .carousel-control-prev span:nth-child(1) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239900CC'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  width: 60px;
  height: 60px;
}

#clientes .carousel-control-next span:nth-child(1) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239900CC'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  width: 60px;
  height: 60px;
}

#quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}

#quote img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#distinciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: auto;
}

#distinciones .header-distinciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

#distinciones .header-distinciones img {
  width: 250px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

#distinciones .list-distinciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#distinciones .list-distinciones ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

#distinciones .list-distinciones ul li {
  list-style: none;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25rem;
}

#distinciones .list-distinciones ul li img {
  width: 200px;
  height: auto;
}

#distinciones .list-distinciones ul li .inside-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
}

#distinciones .list-distinciones ul li .inside-text .vr {
  width: 4px;
  color: #Ff6600;
  opacity: 1;
}

#distinciones .list-distinciones ul li .inside-text .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
  height: 10rem;
}

#distinciones .list-distinciones ul li .inside-text .text a {
  color: #Ff6600;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3rem;
}

#distinciones .list-distinciones ul li .inside-text .text h2 {
  font-size: 1.3rem;
}

#distinciones .list-distinciones ul li .inside-text .text p {
  font-size: 1.3rem;
}

.contenedor-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: auto;
  margin-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.contenedor-contacto .header-contacto h1 {
  font-size: 2.5rem;
  color: #9900CC;
  font-weight: bold;
}

.color-send {
  background-color: #Ff6600;
}

.map {
  width: 40%;
  height: auto;
  margin-top: 2rem;
}

.map ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.map ul li {
  list-style: none;
  margin: 0 0.2rem;
}

.map ul li img {
  width: 40px;
  height: auto;
}

.map .d-flex {
  width: auto;
}

.map .d-flex iframe {
  width: 100%;
}

.map .d-flex p {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}

.contenedor_footer_img img {
  width: 150px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.fail {
  padding: 1em 2em;
  border-radius: 10px;
  background-color: red;
  color: white !important;
  font-weight: bold;
}

#header-proyeccion {
  font-size: 3rem !important;
}

#servicios {
  background-color: #F4F4F4;
}

#servicios .header-servicios {
  min-height: 3rem;
}

@media screen and (max-width: 1100px) {
  .resize-email {
    font-size: 1.3rem !important;
  }
}

@media screen and (max-width: 350px) {
  #header-proyeccion {
    font-size: 2rem !important;
  }
  #header-contact .display-1 {
    font-size: 3rem;
  }
}

.quotes {
  font-family: 'STIX Two Math', serif !important;
  font-size: 12rem;
}

.container-fluid {
  padding: 0 0 !important;
}

.bg-banner-1 {
  background-image: url(WEB_EF/BANNERS/PC/ESPAÑOL/1N.png);
  background-size: cover;
}

.nav-mobile {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  width: 100% !important;
}

.nav-mobile .idiomas {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

.nav-mobile .idiomas .no-mobile {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-mobile .idiomas a {
  color: white !important;
}

.nav-mobile .idiomas p {
  color: white !important;
  margin: 0;
  padding: 0;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(280,280, 280, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.text-quotes {
  min-width: 23rem;
}

.text-quotes p {
  font-size: 4rem !important;
}

.text-quotes p .big-text {
  font-size: 7rem !important;
}

@media screen and (max-width: 1300px) {
  .text-quotes p {
    font-size: 3rem !important;
  }
  .text-quotes p .big-text {
    font-size: 5rem !important;
  }
}

.color-1 {
  background-color: var(--primary-color) !important;
}

.vr-custom {
  max-width: 3rem !important;
}

.color-2 {
  background-color: var(--secondary-color) !important;
}

.tc-1 {
  color: var(--primary-color);
}

.tc-2 {
  color: var(--secondary-color);
}

.feature-color-1 {
  background-color: var(--feature-1);
}

.feature-color-2 {
  background-color: var(--feature-2);
}

.feature-color-3 {
  background-color: var(--feature-3);
}

section {
  min-height: 50vh;
}

* {
  margin: 0;
  padding: 0;
}

.rounded {
  border-radius: 15px !important;
}

.cv-flotante {
  position: absolute;
  right: 10%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

@font-face {
  font-family: 'DINN-Regular';
  src: url("/assets/TIPOGRAFIA/DINNextLTPro-Regular.otf");
}

@font-face {
  font-family: 'DINN-bold';
  src: url("/assets/TIPOGRAFIA/DINNextLTPro-Bold.otf");
}

@font-face {
  font-family: 'DINN-italic';
  src: url("/assets/TIPOGRAFIA/DINNextLTPro-Italic.otf");
}

@font-face {
  font-family: 'DINN-thin';
  src: url("/assets/TIPOGRAFIA/DINNextLTPro-Light.otf");
}

@font-face {
  font-family: 'museo';
  src: url(font/Fonts/MuseoSans_500.otf);
}

@font-face {
  font-family: 'museotitle';
  src: url(font/Fonts/Museo300-Regular.otf);
}

.text-title {
  font-family: 'DINN-Regular' !important;
}

.text-banner {
  position: absolute;
  left: 15%;
  height: 100%;
  top: 30%;
}

.font-banner {
  font-size: 7rem;
  line-height: 5rem;
}

.font-banner-2 {
  font-size: 7rem;
  line-height: 5rem;
}

@media screen and (max-width: 1750px) {
  .font-banner-2 {
    font-size: 6rem;
    line-height: 5rem;
  }
}

@media screen and (max-width: 1500px) {
  .font-banner-2 {
    font-size: 5rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 1280px) {
  .font-banner-2 {
    font-size: 4rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .font-banner-2 {
    font-size: 3rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 1180px) {
  .font-banner {
    font-size: 4rem;
    line-height: 3rem;
  }
}

.text-banner-2 {
  position: absolute;
  left: 0%;
  height: 100%;
  top: 30%;
}

.icon-banner-pos {
  position: absolute;
  right: 0;
  top: 50%;
}

.card {
  width: 18rem !important;
  height: 18rem !important;
  border-radius: 0 !important;
}

.card .card-body img {
  width: 100% !important;
  height: auto !important;
}

.card .card-body .card-text .text-title {
  font-size: 2.5rem !important;
}

@media screen and (max-width: 750px) {
  .card {
    min-width: 100% !important;
    min-height: 18rem !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
  .card .card-body .display-3 {
    font-size: 7rem;
  }
  .card .card-body .card-text .text-title {
    font-size: 3.5rem !important;
    line-height: 2rem !important;
  }
}

@media screen and (max-width: 900px) {
  #servicios .header-servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #servicios .header-servicios .globo {
    width: 200px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #servicios .header-servicios .globo img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  #servicios .header-servicios .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 6rem;
  }
  #servicios .header-servicios .social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #servicios .header-servicios .social ul li {
    margin: 0.5rem;
    list-style: none;
  }
  #servicios .servicios-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 3rem;
  }
  #servicios .servicios-elements .service-list {
    margin: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    border-left: 3px solid var(--primary-color);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  #servicios .servicios-elements .service-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  #servicios .servicios-elements .service-list ul li {
    margin: auto 0;
    list-style: none;
    color: #9900CC;
  }
  #servicios .servicios-elements .vr {
    width: 3px;
    color: #Ff6600;
    opacity: 1;
    display: none;
  }
  #portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: #Ff6600;
  }
  #portfolio .header-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
    margin: 2rem auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 3rem;
  }
  #portfolio .header-portfolio h1 {
    font-size: 5rem;
    font-family: 'DINN-regular' !important;
    color: white;
  }
  #portfolio .header-portfolio ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #portfolio .header-portfolio ul li {
    list-style: none;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    color: #9900CC;
  }
  #portfolio .header-portfolio ul li img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  #portfolio .header-portfolio ul .vr {
    width: 0.1rem;
    color: #9900CC;
    opacity: 1;
    margin: 0 1rem;
  }
  #distinciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
  #distinciones .header-distinciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  #distinciones .header-distinciones img {
    width: 250px;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #distinciones .list-distinciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #distinciones .list-distinciones ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
  }
  #distinciones .list-distinciones ul li {
    list-style: none;
    margin: 0.5rem;
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 180px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 20rem;
  }
  #distinciones .list-distinciones ul li img {
    width: 200px;
    height: auto;
  }
  #distinciones .list-distinciones ul li .inside-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
  }
  #distinciones .list-distinciones ul li .inside-text .vr {
    width: 4px;
    color: #Ff6600;
    opacity: 1;
  }
  #distinciones .list-distinciones ul li .inside-text .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1rem;
    height: 10rem;
  }
  #distinciones .list-distinciones ul li .inside-text .text a {
    color: #Ff6600;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
  }
  #distinciones .list-distinciones ul li .inside-text .text h2 {
    font-size: 1.3rem;
  }
  #distinciones .list-distinciones ul li .inside-text .text p {
    font-size: 1.3rem;
  }
  #CV {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #CV .header-cv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 100%;
  }
  #CV .header-cv .mobile-cv-text {
    display: none;
    background-color: #Ff6600;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  #CV .header-cv .mobile-cv-text li {
    list-style: none;
  }
  #CV .header-cv img {
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
    width: 100%;
  }
  #CV .content-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90%;
  }
  #CV .content-list .listaGrande {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #CV .content-list .listaGrande .vr {
    color: #Ff6600;
    width: 0.15rem;
    opacity: 1;
  }
  #CV .content-list .listaGrande ul .orange {
    color: #Ff6600;
  }
  #CV .content-list .listaGrande ul li {
    list-style: none;
    font-size: 1.1rem;
    margin: 0.5rem auto;
    padding: 0;
    color: #313131;
  }
  #CV .content-list .actualidad-y-cv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    margin-top: 2rem;
    width: 100%;
  }
  #CV .content-list .actualidad-y-cv img {
    width: 50px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 50%;
  }
  #CV .content-list .actualidad-y-cv .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #CV .content-list .actualidad-y-cv .content .item1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #CV .content-list .actualidad-y-cv .content .item1:nth-child(2) {
    margin-top: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #CV .content-list .actualidad-y-cv .content .item1 .vr {
    color: #Ff6600;
    width: 0.15rem;
    opacity: 1;
  }
  #CV .content-list .actualidad-y-cv .content .item1 .cv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #CV .content-list .actualidad-y-cv .content .item1 .cv ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #CV .content-list .actualidad-y-cv .content .item1 .cv ul li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #9900CC;
    font-weight: bold;
    height: 90%;
  }
  #CV .content-list .actualidad-y-cv .content .item1 .cv ul li:nth-child(1) p {
    color: #Ff6600;
  }
  #CV .content-list .actualidad-y-cv .content .item1 .cv ul li * {
    margin: 0;
    padding: 0;
  }
  #CV .content-list .actualidad-y-cv .content .item1 .cv ul li ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #CV .content-list .actualidad-y-cv .content .item1 .cv ul li ul .orange {
    color: #Ff6600;
  }
  #CV .content-list .actualidad-y-cv .content .item1 .cv ul li ul li img {
    width: 20px;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    color: #9900CC;
  }
  #CV .content-list .actualidad-y-cv .content .item1 .actualidad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #CV .content-list .actualidad-y-cv .content .item1 .actualidad ul .orange {
    color: #Ff6600;
  }
  #CV .content-list .actualidad-y-cv .content .item1 .actualidad ul li {
    list-style: none;
  }
  #CV .content-list .actualidad-y-cv .content .item2 {
    margin-top: 1.5rem;
  }
  .map {
    width: 100%;
    height: auto;
    background-color: #9900CC;
    margin: 0 auto;
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    font-family: 'DINN-regular' !important;
  }
  .map ul {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .map ul li {
    list-style: none;
    margin: 0 0.2rem;
  }
  .map ul li img {
    width: 40px;
    height: auto;
  }
  .map .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    width: auto;
    background-color: #9900CC !important;
  }
  .map .d-flex iframe {
    margin: 0 auto;
    width: 90%;
  }
  .map .d-flex p {
    font-family: 'DINN-regular';
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
  }
}

.text-museo {
  font-family: 'museo' !important;
}

.frase {
  min-width: 40rem;
}

.navlist ul li a {
  font-weight: 600;
  font-size: large;
  color: #F4F4F4 !important;
}

.navlist ul li a:hover {
  color: #9900CC !important;
}

.offcanvas {
  background-color: #Ff6600;
}
/*# sourceMappingURL=styles.css.map */