@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
$font-family: 'Open Sans',
sans-serif;
$color-1:#a64f03;
$color-2:rgb(255, 255, 255);

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

    font-family: $font-family;
}

header {
    background-image: url(assets/landscape-mountain-car-highway-mountain-range-transport-585283-pxhere.com.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 40vh;
    height: 80vh;

    nav {
        padding: 1rem 0;
        background-color: $color-1;
        height: 4rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .logo {
            margin-left: 1rem;

            a {
                display: flex;
                width: 100px;
                height: 60px;
                background-color: rgba(0, 0, 0, 1);

                img {
                    object-fit: contain;
                }
            }
        }

        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 40%;

            li {
                list-style: none;
                display: flex;
                align-items: center;
                width: 100%;

                a {
                    color: $color-2;
                    text-decoration: none;
                    font-size: 1.1rem;
                    font-weight: bold;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .social {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 1rem;

            li {
                list-style: none;

                a {
                    margin: 0 1rem;

                    i {
                        font-size: 1.5rem;
                        color: white;
                    }
                }

            }
        }
    }

    .header-floating-elements {
        display: flex;

        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: center;

        h1 {
            font-size: 3rem;
            font-weight: bold;
            color: white;
        }

    }
}