@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
$font-family: 'Open Sans',
sans-serif;
$color-1:#a64f03;
$color-2:rgb(255, 255, 255);

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

    font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}



nav {
    padding: 1rem 0;
    background-color: $color-1;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    .desktop-nav {
        padding: 1rem 0;
        background-color: $color-1;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;

        .logo {
            margin-left: 1rem;

            a {
                display: flex;
                width: 100px;
                height: 60px;


                img {
                    object-fit: contain;
                }
            }
        }

        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 40%;
            margin-bottom: 0;


            li {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;


                a {
                    color: $color-2;
                    text-decoration: none;
                    font-size: 1.1rem;
                    font-weight: bold;
                    text-align: center;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: #1D8AA1;
                        text-decoration: underline;
                    }
                }
            }
        }

        .social {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-right: 1rem;
            width: 10%;

            li {
                list-style: none;
                ;

                a {

                    margin: 0 1rem;

                    i {
                        font-size: 1.5rem;
                        color: white;
                    }
                }

            }
        }
    }

    .mobile-nav {
        ::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }

        ::-webkit-scrollbar-button {
            width: 2px;
            height: 2px;
        }

        ::-webkit-scrollbar-thumb {
            background: white;
            border: 0px none #ffffff;
            border-radius: 50px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #980101;
        }

        ::-webkit-scrollbar-thumb:active {
            background: #850000;
        }

        ::-webkit-scrollbar-track {
            background: #666666;
            border: 0px none #ffffff;
            border-radius: 50px;
        }

        ::-webkit-scrollbar-track:hover {
            background: #666666;
        }

        ::-webkit-scrollbar-track:active {
            background: #333333;
        }

        ::-webkit-scrollbar-corner {
            background: transparent;
        }

        display: none;
        padding: 1rem 2rem;
        background-color: $color-1;
        height: auto;

        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;

        .header-mobile {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;

            .logo {
                margin-left: 0;

                a {
                    display: flex;
                    width: 100px;
                    height: 60px;


                    img {
                        object-fit: contain;
                    }
                }
            }

            .burger-menu {
                font-size: 3rem;
            }


        }

        .mobile-body {

            visibility: collapse;

            display: block;
            height: 0;

            width: 100%;


            transition: height 0.2s ease-in-out;

            &.active {
                height: 100vh;
                display: block;

                visibility: visible;
            }

            .menu {
                margin: 3rem auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: auto;


                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;


                    a {
                        color: $color-2;
                        text-decoration: none;
                        font-size: 1.3rem;
                        font-weight: bold;
                        margin: 0.5rem 0;
                        text-align: center;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: #1D8AA1;
                            text-decoration: underline;
                        }
                    }
                }
            }

            .social {
                display: flex;
                flex-direction: row;
                justify-content: center;

                width: 10%;
                margin-top: auto;

                li {
                    list-style: none;
                    ;

                    a {

                        margin: 0 1rem;

                        i {
                            font-size: 1.5rem;
                            color: white;
                        }
                    }

                }
            }
        }
    }
}

header {

    // background-attachment: fixed;
    // background-position: bottom;
    // background-size: cover;
    // background-repeat: no-repeat;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;

    // min-height: 40vh;
    // height: 80vh;
    .carousel-item {
        margin-top: 4rem;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
            display: flex;
        }

        .floating-div {
            position: absolute;
            text-align: center;

            h1 {
                font-size: 3rem;
                font-weight: bold;
                color: white;
                text-shadow: -1px 1px 9px rgba(0, 0, 0, 0.78);
            }

            h2 {
                color: white;
                text-shadow: -1px 1px 9px rgba(0, 0, 0, 0.78);
            }

        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
    }



    .header-floating-elements {
        display: flex;

        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: center;

        .animate__animated.animate__fadeInDown {
            --animate-duration: 2s;
        }

        h1 {
            font-size: 3rem;
            font-weight: bold;
            color: white;
        }

    }
}

#introduccion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 4rem;
    padding-top: 4rem;
    background-color: $color-2;

    .modal-dialog {
        max-width: max-content;

        .modal-content {
            max-width: 80vw;

            .modal-body {
                display: flex;

                img {
                    object-fit: contain;
                    width: 100%;

                }
            }
        }
    }

    .intro-text {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 60%;

        .text {
            font-size: 1.5rem;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            margin: 2rem 0;

            p {
                margin-top: 3rem;
                font-size: medium;
            }



        }

        .cont-img {
            display: flex;
            width: 50%;

            img.image-intro {
                width: 100%;
                min-height: 350px;
                object-fit: cover;
                object-position: right;
            }

        }

        .image-intro-mobile {

            width: 100%;
            height: auto;
            position: relative;
            display: none;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                min-height: 25vh;
                object-fit: cover;
                object-position: bottom;
            }

            h2 {
                position: absolute;
                font-weight: 600;
                font-size: 3rem;
                color: white;
                letter-spacing: 3px;

                text-shadow: -1px 1px 9px rgba(0, 0, 0, 0.78);
            }
        }
    }

    .intro-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;

        .card-info {
            width: 40%;
            height: auto;
            margin: 1rem 1.4rem;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }

}

#rodados {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: rgba(#1D8AA1, 0.2);

    h1 {
        color: black;
        font-size: 2.5rem;
        margin: 2rem 0;
    }

    p {
        text-align: center;
        width: 50%;
    }

    .rodados {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 2rem auto;
        justify-content: center;

        article {
            &:nth-child(2) {
                flex-direction: row-reverse;
            }

            color: white;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            background-color: #a64f03;
            min-height: 4rem;
            justify-content: space-between;
            align-items: center;
            margin:0.5rem 0;


            img {
                width: 50%;
                height: 20rem;
                object-fit: cover;
                object-position: center;
            }

            .rodado-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: auto;
                margin: 0 auto;

                p {
                    width: 80%;
                }

                a {
                    color: white;
                }

                li {
                    text-align: left;
                }
            }
        }
    }
}

#modulos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h1 {
        font-size: 2.5rem;
        margin: 2rem 0;
    }

    p {
        text-align: center;
        width: 50%;
    }

    .modulos {
        margin: 3rem 0;
        display: flex;
        flex-direction: row;
    }
}

.separatorImg {
    margin-bottom: 2rem;
    background-image: url(assets/landscape-mountain-car-highway-mountain-range-transport-585283-pxhere.com.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    width: 100%;
    height: auto;
    position: relative;
    padding: 1rem 0;

    .testimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        height: 100%;
        margin: auto auto;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        width: 40%;
        text-align: center;

        h1 {
            font-size: 3rem;
            font-weight: bold;
            background-color: rgba(#a64f03, 0.8);
            padding: 1rem;
        }

        cite {
            font-weight: 300;
            color: white;

            a {
                color: white;
            }
        }
    }
}

#contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h1 {
        font-size: 2.5rem;
        margin: 2rem 0;
    }

    .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        li {
            margin: 0rem 0.5rem;
            list-style: none;

            a {
                i {
                    font-size: 1.5rem;
                    color: black;
                    transition: all 0.3s;

                    &:hover {
                        color: $color-1;
                    }
                }
            }
        }


    }

    p {
        margin-top: 3rem;
        width: 40%;

    }

    .contacto-form {
        margin-top: 3rem;
        width: 60%;
        display: flex;
        justify-content: center;


        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: auto;
            justify-content: center;

            button {


                width: 80%;
                padding: 1rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                font-size: 1rem;
                border: none;
                background-color: #a64f03;
                font-weight: bold;
                transition: all 0.1s ease-out;
                color: white;
                margin-left: auto;
                margin-top: 1rem;

                &:hover {
                    cursor: pointer;
                    background-color: #1D8AA1;
                }


            }

            button {
                margin-right: auto;
                margin-left: auto;
            }

            .form-group {
                display: flex;
                flex-direction: row;
                justify-content: center;



                &.opcionales {
                    flex-direction: column;
                    align-items: center;

                    .form-item {
                        width: 100%;
                        max-width: 700px;

                        i {
                            top: 0;
                            padding: 0;
                        }
                    }
                }

                .form-item {
                    margin: 0 2rem;
                    width: 300px;
                    position: relative;

                    &.textarea {
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        i {
                            left: 0.8rem;
                        }

                        textarea {
                            width: 100%;
                            padding: 1.8rem;
                        }
                    }

                    i {
                        position: absolute;
                        color: #a64f03;
                        top: 0.5rem;
                        z-index: 2;
                        font-size: 1.5rem;
                    }

                    input {
                        width: 100%;
                        height: auto;
                        padding: 0.5rem;
                        margin-bottom: 1rem;
                        border: none;
                        border-bottom: 1px solid black;
                        font-size: 1rem;
                        transition: all 0.3s ease-out;
                        background-color: transparent;
                        color: black;
                        padding-left: 2.5rem;

                        &:focus {
                            outline: none;
                            border-bottom: 1px solid $color-1;
                        }
                    }




                }

                &:nth-child(3) {
                    i {
                        padding: 1rem;
                    }

                    .form-item {
                        textarea {
                            width: 100%;
                            padding: 3rem;
                            font-size: 1.1rem;
                            font-family: 'Open Sans';
                        }
                    }
                }
            }
        }

    }
}

footer {
    width: 100%;
    height: auto;
    background-color: $color-1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;

    .contenedor-ssl {
        position: absolute;
        left: 2rem;

    }

    p {
        color: white;
        margin: 0;
    }
}

@media screen and (max-width:1300px) {
    .separatorImg {
        height: auto;

        .testimonial {
            padding: 2rem 0;
            font-size: 2rem;
            width: 80%;
            height: 50vh;
        }
    }
}

@media screen and (max-width:1100px) {
    nav {
        .desktop-nav {
            .menu {
                margin-left: auto;
                width: 60%;
            }
        }
    }

}

@media screen and (max-width: 768px) {
    nav {

        .desktop-nav {
            display: none;
        }

        .mobile-nav {
            display: flex;

            .mobile-body {
                .social {
                    margin: 0 auto;
                    width: auto;
                    margin-left: auto;
                    padding-left: 0;
                }

                .menu {
                    padding-left: 0;
                }
            }
        }
    }

    header {
        .carousel-item {
            img {
                height: 100%;
            }

            .floating-div {
                h1 {
                    font-size: 2rem;
                }

            }
        }
    }

    #introduccion {


        .intro-text {
            width: 100%;
            flex-direction: column-reverse;

            .text {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }

            .cont-img {
                display: flex;
                height: 100%;
                width: 100%;


                img.image-intro {
                    display: none;
                    width: 100%;
                    height: 30vh;
                    object-fit: cover;
                    object-position: bottom;
                }
            }

            .image-intro-mobile {
                display: flex;
            }
        }

        .intro-buttons {
            width: 100%;

            .card-info {
                margin: 0.5rem;
            }
        }
    }

    .separatorImg {
        height: auto;

        .testimonial {
            padding: 2rem 0;
            font-size: 1rem;
            width: 80%;

            h1 {
                font-size: 2rem;
            }
        }
    }

    #contacto {
        width: 100%;

        p {
            width: 90%;
        }

        .contacto-form {
            width: 80%;

            form {
                width: 100%;

                .form-group {
                    align-items: center;

                    .form-item {
                        width: 100%;

                        &.textarea {
                            width: 100%;

                            textarea {
                                min-height: 150px;
                            }
                        }
                    }

                    flex-direction: column;
                }
            }
        }
    }

    #rodados {
        .rodados {
            article {

                flex-direction: column;

                img {
                    width: 100%;
                    height: 10rem;
                }

                &:nth-child(even) {
                    flex-direction: column;
                }
            }
        }
    }
}